<h1>Stupid Coaching</h1>

<br>
<div class="question">
  <p><%= params[:question] %></p>
  <p><em>--You</em></p>
</div>
<br>
<div class="answer">
  <p><%= @answer %></p>
  <p><em>--Your coach</em></p>
</div>
<br>
<!-- <a href="/ask">Ask a new question</a> -->
<%= link_to "Ask another question", root_path %>
